.row

  .book.column
    .title.centered
      %h1.shadowed Smash the Monolith:
      %h2.shadowed Taming Legacy Rails Applications
    .byline
      %h3 Coraline Ada Ehmke
      %h3 &amp; Kerri Miller

  .signup.column
    %h1 Learn how to tame your legacy Rails applications.

    - if @unsaved

      %h2.top_margin
        Sign up for updates, sneak peeks,
        %br
        and more from the upcoming book.

      = form_for @subscription, :url => subscriptions_path do |f|
        = f.text_field :email, :placeholder => @subscription.message
        = f.submit "Sign Up"

    - else

      %h2.top_margin
        Thanks for signing up! Check your email for a message confirming your subscription.

      %h2
        Join the authors on Google Plus:
        %br
        = link_to "Register for an upcoming roundtable", "https://docs.google.com/forms/d/15viAkMBqhBr6focqVlti8t1g8lPw-am9uJZhZmvlfHA/viewform"
.row.top_margin

  %h1.top_margin About the Authors

  .column.top_margin
    %h2 Coraline Ada Ehmke
    %p
      Coraline Ada Ehmke is a speaker, author, teacher, open source advocate and technologist with 20 years of experience in developing apps for the web. Her current interests include small-application ecosystems, APIs, business intelligence, machine learning, and predictive analytics.
    = link_to "Follow @bantik on Twitter", "https://twitter.com/bantik/"

  .column.top_margin
    %h2 Kerri Miller
    %p
      Kerri is a software engineer, conference speaker, chef, poker player, glassworker, scooter mechanic, baseball & soccer fan, and hiker... but not necessarily in that order.
    = link_to "Follow @kerrizor on Twitter", "https://twitter.com/kerrizor/"
